@page
@model ProyPage1.Pages.Profesores.EditarModel
@{
}

@section scripts{
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
   <partial name="_ValidationScriptsPartial" />

   <script type="text/javascript">

    

    $(document).ready(function(){

       $("#btnGet").click(function (e) {
            
            e.preventDefault();
             
            /*
            console.log(new FormData(form));
            console.log(new FormData(forma));*/

            var sammy = { 
                "legajo"  :  1111111, 
                "nombre"   :  "Shark", 
                "apellido"      :  "RRRR",
                "activo": true,
                "fechaNacimiento": new Date(),
                "estudioTipo":1
            };
            var valores=new FormData(document.forms[0]);
            console.log(sammy);
            /*
            $.post('Editar', $('form').serialize(), function () {
                alert('Posted using jQuery');
            });
            */
            
            if (confirm('Esta seguro de cambiar los datos ?')) {
                try {
                    $.ajax({
                        type: 'POST',
                        url:'Editar',
                        data:   $('form').serialize(),
                        contentType: 'application/json', 
                        success: function (res) {
                            alert("Editado");
                        },
                        error: function (err) {
                            console.log(err)
                        }
                    })
                } 
                catch (ex) {
                    console.log(ex)
                }
            } 
        return false;
    });

    });
</script>

}
<form action="post"  >
    <h2>Modificar</h2> 
    <div class="form-group">
        <input type="text" asp-for="profesor.Legajo" placeholder="Ingresar Legajo" />
        <span asp-validation-for="profesor.Legajo"  class="badge badge-danger"></span>
    </div>
    <div class="form-group">
        <input type="text" asp-for="profesor.Nombre" placeholder="Ingresar Nombre" /> 
        <span asp-validation-for="profesor.Nombre"  class="badge badge-danger"></span> 
    </div>
    <div class="form-group">
        <input type="text" asp-for="profesor.Apellido" placeholder="Ingresar Apellido" />
        <span asp-validation-for="profesor.Apellido"  class="badge badge-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="profesor.EstudioTipo"  value="1" checked>
            <label class="form-check-label" for="exampleRadios1">
                Default radio
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="profesor.EstudioTipo"  value="2">
            <label class="form-check-label" for="exampleRadios2">
                Second default radio
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="profesor.EstudioTipo"  value="3" >
            <label class="form-check-label" for="exampleRadios3">
                Disabled radio
            </label>
        </div>
    </div>
    <div class="form-group">
        <input type="date" asp-for="profesor.FechaNacimiento" placeholder="Ingresar Fecha" />
        <span asp-validation-for="profesor.FechaNacimiento"  class="badge badge-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="profesor.Activo"  />
            <label class="form-check-label" for="defaultCheck1">
                ¿Activo?
            </label>
        </div> 
    </div>
    
       <input type="submit" id="btnGet" class="btn btn-primary" value="Guardar con post" />
        <a asp-page="Listado" class="btn"  onclick="return confirm('¿Desea cancelar?')" >Cancelar</a>
</form>
     
 