@page
@model ProyPage1.Pages.Profesores.NuevoModel
@{
}
@section scripts{
   <partial name="_ValidationScriptsPartial" />
}
  <h2>Nuevo</h2> 

<partial name="_FormProfesor" model="@Model.ProfesorNuevo" />
<a asp-page="Listado" class="btn"  onclick="return confirm('Are you sure you want to delete this?')" >Cancelar</a>
