@page
@model ProyPage1.Pages.Profesores.NuevoModel
@{
}
@section scripts{
   <partial name="_ValidationScriptsPartial" />
}
<form method="post">
    <h2>Modificar</h2> 
    <div class="form-group">
        <input type="text" asp-for="ProfesorNuevo.Legajo" placeholder="Ingresar Legajo" />
        <span asp-validation-for="ProfesorNuevo.Legajo"  class="badge badge-danger"></span>
    </div>
    <div class="form-group">
        <input type="text" asp-for="ProfesorNuevo.Nombre" placeholder="Ingresar Nombre" /> 
        <span asp-validation-for="ProfesorNuevo.Nombre"  class="badge badge-danger"></span> 
    </div>
    <div class="form-group">
        <input type="text" asp-for="ProfesorNuevo.Apellido" placeholder="Ingresar Apellido" />
        <span asp-validation-for="ProfesorNuevo.Apellido"  class="badge badge-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="ProfesorNuevo.EstudioTipo"  value="1" checked>
            <label class="form-check-label" for="exampleRadios1">
                Default radio
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="ProfesorNuevo.EstudioTipo"  value="2">
            <label class="form-check-label" for="exampleRadios2">
                Second default radio
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="ProfesorNuevo.EstudioTipo"  value="3" >
            <label class="form-check-label" for="exampleRadios3">
                Disabled radio
            </label>
        </div>
    </div>
    <div class="form-group">
        <input type="date" asp-for="ProfesorNuevo.FechaNacimiento" placeholder="Ingresar Fecha" />
        <span asp-validation-for="ProfesorNuevo.FechaNacimiento"  class="badge badge-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="ProfesorNuevo.Activo"  />
            <label class="form-check-label" for="defaultCheck1">
                ¿Activo?
            </label>
        </div> 
    </div>
    <input type="submit" value="Enviar" />
    <input type="button" value="Cancelar" asp-page="Listado" />
</form>