@page
@model ProyPage1.Pages.EditarProfesorModel
@inject Servicios.IProfesorServicio ProfSrv
@{
}
<h2>Editar</h2>
 <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>View</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

    @foreach (var item in ProfSrv.GetAll())
{
    <tr>
        <td>@item.Legajo</td>
        <td>@item.Apellido</td>
        <td>@item.Nombre</td>
        <td>
            <a asp-page="./EditarProfesor" asp-route-id="@item.Legajo">Editar</a> |
        </td>
    </tr> 
} 
        </tbody>
    </table>
